.header{
	width: 100%;
	/* position: absolute; */
	height: 30px;
	background: #268dce;
	top: 10px;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	opacity: 0.9;
}
.header__row{
	max-width: 1600px;
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
}
