.list__row{
	display: flex;
}
.restaurant{
	color: black;
	font-size: 30px;
	border: 1px black solid;
	width: 1090px;
	padding-bottom: 10px;
}
.name{
	font-weight: bold;
	font-size: 30px;
}

.review{
	padding-top: 30px;
}