.list__row{
	display: flex;
}
.restaurant{
	position: relative;
	color: black;
	font-size: 30px;
	border: 1px black solid;
	width: 1090px;
	padding-bottom: 10px;
}
.name{
	font-weight: bold;
	font-size: 30px;
}

.review{
	padding-top: 30px;
}
.send_review{
	right: 0;
	bottom: 0;
	position: absolute;


}